@import "variables";
@mixin tamaños ($height, $width) {
    height: $height;
    width: $width;
}

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
/* Inicio Nav */
.navbar-brand{
    font-family: 'Fredoka One';
    font-weight: $fuenteBold;
    font-size: 1.56rem;
}

.nav-link{
    font-family: $fuente;
    font-weight: $fuenteBold;
}
/* Fin Nav */
/* Inicio Body */
body{
    background-image: url('../media/fondo1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Fin Body */

/* Inicio Main */
/* Inicio Opiniones */

.opiniones{
    display: flex;
    align-items: center;
    justify-content: center;
    .slide-container{
        max-width: 70rem;
        width: 100%;
        padding: 2.5rem 0;
        .slide-content{
            margin: 0 2.5rem;
            overflow: hidden;
            border-radius: 1.5625rem;
            .card{
                border-radius: 1.5625rem;
                background-color: map-get($map: $colores, $key: blanco);
                .image-content,
                .card-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0.625rem 0.875rem;
                }
                .card-content{
                    .name{
                        font-family: $fuente;
                        font-size: 1.125rem;
                        font-weight: 500;
                        color: map-get($map: $colores, $key: grisOscuro);
                    }
                    .description{
                        font-family: $fuente;
                        font-size: 0.875rem;
                        color: map-get($map: $colores, $key: grisClaro);
                        text-align: center;
                    }
                }
                .image-content{
                    position: relative;
                    row-gap: 0.3125rem;
                    padding: 1.5625rem 0;
                    .overlay{
                        position: absolute;
                        left: 0;
                        top: 0;
                        @include tamaños (100%, 100%);
                        background-color: map-get($map: $colores, $key: fondoCard);
                        border-radius: 1.5625rem 1.5625rem 0 1.5625rem;
                        &::before{
                            content: '';
                            position: absolute;
                            right: 0;
                            bottom: -2.5rem;
                            @include tamaños (2.5rem, 2.5rem);
                            background-color: map-get($map: $colores, $key: fondoCard);
                        }
                        &::after{ 
                            @extend ::before;
                            border-radius: 0 1.5625rem 0 0;
                            background-color: map-get($map: $colores, $key: blanco);
                        }
                    }

                    .card-image{
                        position: relative;
                        @include tamaños(9.375rem, 9.375rem);
                        border-radius: 50%;
                        background-color: map-get($map: $colores, $key: blanco);
                        padding: 0.1875rem;
                        .card-img{
                            @include tamaños (100%, 100%);
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .swiper-navBtn{
            color: map-get($map: $colores, $key: azulOscuro);
            transition: color 0.3s ease;
            &:hover{
                color: map-get($map: $colores, $key: azulClaro);
            }
            &::before{
                font-size: 2.1875rem;
            }
            &::after{
                @extend ::before;
            }
        }
          
        .swiper-button-next{
            right: 0;
        }
          
        .swiper-button-prev{
            left: 0;
        }
          
        .swiper-pagination-bullet{
            background-color: map-get($map: $colores, $key: azulClaro);
            opacity: 1;
        }
          
        .swiper-pagination-bullet-active{
            background-color: map-get($map: $colores, $key: azulOscuro);
        }
    }
}
  
/* Fin Opiniones */
.text-center,
.card-title,
.pregunta{
    font-family: $fuente;
    font-weight: $fuenteBold;
}

.texto-inicio,
.texto-inflables{
    font-family: $fuente;
    font-size: large;
    font-weight: 500;
}

.card-text,
.textoFaq,
.texto-op,
.nombre-op{
    font-family: $fuente;
}


/* Inicio Footer */
.pie-pagina{
    width: 100%;
    background-color: map-get($map: $colores, $key: grisTransp);
    grid-area: footer; 
    .grupo-1{
        width: 100%;
        max-width: 75rem;
        margin: auto;
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.125rem;
        padding: 2.8125rem 0rem;
        .box figure{
            @include tamaños (100%, 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 15.625rem;
            }
        }
        .box h2{
            color: map-get($map: $colores, $key: grish2Footer);
            margin-bottom: 1.5625rem;
            font-size: 1.25rem;
            font-family: $fuente;
            font-weight: $fuenteBold;
        }
        .box p{
            color: map-get($map: $colores, $key: grispFooter);
            margin-bottom: 0.625rem;
            font-family: $fuente;
            font-size: 0.9375rem;
        }
        .red-social a{
            display: inline-block;
            text-decoration: none;
            @include tamaños (2.8125rem, 2.8125rem);
            line-height: 2.8125rem;
            color: black;
            margin-right: 0.625rem;
            background-color: rgb(230, 230, 230);
            text-align: center;
            transition: all 300ms ease;
            &:hover{
                color: #d31ca0;
            }
        }
    }
    .grupo-2{
        background-color: map-get($map: $colores, $key: fondoCopyright);
        padding: 0.9375rem 0.9375rem;
        text-align: center;
        small{
            font-size: 0.9375rem
        }
    }
}
/* Fin Footer */

/* Inicio Media Queries */
@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 0.625rem;
    }
    .swiper-navBtn{
        display: none;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.875rem;
        padding: 2.1875rem 0rem;
    }

    .pie-pagina .grupo-1 .box h2{
        text-align: center;
    }

    .pie-pagina .grupo-1 .red-social{
        display: flex;
        justify-content: center;
    }
}
/* Fin Media Queries */